@font-face {font-family: "Futura LT W01 Light Oblique";
  src: url("9a7e574c3eda05d71d03345d3f9e268e.eot"); /* IE9*/
  src: url("9a7e574c3eda05d71d03345d3f9e268e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("9a7e574c3eda05d71d03345d3f9e268e.woff2") format("woff2"), /* chrome、firefox */
  url("9a7e574c3eda05d71d03345d3f9e268e.woff") format("woff"), /* chrome、firefox */
  url("9a7e574c3eda05d71d03345d3f9e268e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("9a7e574c3eda05d71d03345d3f9e268e.svg#Futura LT W01 Light Oblique") format("svg"); /* iOS 4.1- */
}
body{background-color: #f2f1f0;}
.violet-blue-bg.btn{border-color:#323232}
.violet-blue-bg.btn:hover{background:#323232;}

/* Home page Style */


.carousel-fade .carousel-item img{object-fit:cover;height:600px}
.fx-slider-card{position:absolute;bottom:100px;max-width:550px;padding:30px 20px;border-radius:0;border:0;background: rgba(59, 60, 149,.62);color:#fff}

.carousel-fade .carousel-item .btn-primary{background:#3b3c95;border-color:#3b3c95}
.carousel-fade .carousel-item .btn-primary:hover{background:#323232;border-color:#323232}

/* Home Company section */
.home-company-bg{ background-size: cover; background-repeat: no-repeat; background-position: center center;}

.office-cn{background: url(../images/office-img.webp); background-size: cover; background-repeat: no-repeat; background-position: center center;}
.office-cn .dark{background: rgba(59, 60, 149,.9);}
.office-cn .light{background: rgba(59, 60, 149,.6);padding:50px}


@media(max-width: 767px){
  .carousel-fade .carousel-item img{height: 400px}
  .fx-slider-card{margin-left: 0!important; padding: 0; max-width: 92%; bottom: 10px;}
    .fx-slider-card .card-body h4{margin-top:0!important}
}

/* Text */
.big-font{font-size:30px;margin-left:5px;margin-right:5px}

/* Card */
a.card{transition: all ease .3s; background-color: rgba(0,0,0,.05);}
a.card:hover, a.card:focus{text-decoration:none;box-shadow:0 0 20px -8px #3c4098;border:0;}
a.card img{transition: transform .3s; height: 135px; object-fit: cover; width: 90%; margin: auto; }
a.card:hover img{transform: scale(1.02)}

/* background Set */
.main-bg{position:absolute;width:100%;height:450px;background: radial-gradient(circle at 24% 98%,#fff,#ececec 10%);}

/* Custom */
.right{right:0}
.rounded-t-l-0{border-top-left-radius:0}
.rounded-t-r-0{border-top-right-radius:0}
.rounded-b-l-0{border-bottom-left-radius:0}
.rounded-b-r-0{border-bottom-right-radius:0}
.m-x-40{margin-left:-40px;margin-right:-40px;}

/* Accordion */
.accordion .card-header button:hover, .accordion .card-header button:focus{text-decoration:none}
.accordion .card-header button:after{font-family: FontAwesome; font-size: 0.8rem; font-weight: 400; position: absolute; top: 1rem; right: 1px; display: inline-block; content: "\f078"; -webkit-transition: .3s ease-in-out; transition: all .3s ease-in-out; color: #006fff;}
.accordion .card-header button[aria-expanded="true"]:after{-webkit-transform: rotate(180deg);transform: rotate(180deg)}

.accordion .card-header button.left-big-arrow{padding-left:30px!important}
.accordion .card-header button.left-big-arrow:after{right:initial;left:6px;font-size:1.4rem;top:10px}

/* Color */
.violet-blue-text{color:#3B3C95}

/* BG */
.violet-blue-bg{background-color:#3B3C95}
.violet-blue-bg a{color:#fff}
.violet-blue-bg a:hover{text-decoration:none}

/* Dropdown */
nav .dropdown-menu{left:initial;right:0}
nav .dropdown-toggle:after{display:none}
nav .dropdown:hover>.dropdown-menu{display: block;}

/* iframe */
iframe{border:0}

/* Fieldset */
fieldset{border:1px solid #ccc; padding:0}
legend{width:auto;padding:0 10px;margin-left: 5px}
fieldset:hover{border-color:#3B3C95}
fieldset:hover legend{color:#3B3C95!important}

/* Border */
.card-br-color-dul .violet-blue-bg [class*="border-"]{border-color:#595ab1!important}
.card-br-color-dul [class*="border-"]{border-color:#f2f2f3!important}

/* Card Overflow Hidden */
.card-o-hidden{overflow: hidden;}

/* Image Flip */
.flip-side{-webkit-transform: scaleX(-1); transform: scaleX(-1); right: -80px; position: relative; display: block; top: -28px;}
.flip-side-img{-webkit-transform: scaleX(-1); transform: scaleX(-1);}

/* Left Boder List width Icons */
.list-left-br{position: relative; padding-left: 40px; list-style: none; border-left:margin-left: 23px;}
.list-left-br li{margin-bottom: 20px;padding-top: 2px;position: relative;font-size: 18px;line-height: 1.6;min-height: 60px;}
.list-left-br li:before {content:'';display: block;position: absolute;border-left: 4px solid #eaeaea;width: 4px;height: 100px;left: -44px;top: 0;}
.list-left-br li:last-child:before {display:none}
.list-left-br li span{top: -3px; left: -67px; padding: 10px 14px 14px 14px; width: 48px; height: 48px; display: block; text-align: center; position: absolute}


/* Form */
.form-control:focus{box-shadow:none}

/* Swiper */
.swiper-container {width:100%;height:420px;margin-left:auto;margin-right:auto}
.swiper-slide{background-size: cover;background-position: center}
.gallery-top {/*height: 80%;*/width: 100%}
.gallery-thumbs{height: 84px;box-sizing: border-box;padding: 10px 0}
.gallery-thumbs .swiper-slide {width: 25%;height: 100%;opacity: 0.4;}
.gallery-thumbs .swiper-slide-thumb-active {opacity: 1}

/* Custom Dropdown */
 #dLabel{width: 100%; height: 40px; background-color: #fff; border: 0; text-align: left; padding: 7.5px 15px; color: #333; letter-spacing: 0.7px; font-size: 14px; background: url(../images/down-arrow.png); background-repeat: no-repeat; background-position: 95% 47%; background-size: 12px;}
 #dLabel2{width: 100%; height: 40px; background-color: #fff; border: 0; text-align: left; padding: 7.5px 15px; color: #333; letter-spacing: 0.7px; font-size: 14px;}
 .caret {float: right;margin-top: 9px;display: block}
 .dropdown-menu {max-height:200px;width: 100%;padding: 0;margin: 0;border-radius: 0;overflow-x: auto}
 .dropdown button:hover, .dropdown button:focus {border:none;outline:0}
 .dropdown.open button#dLabel {border-bottom-left-radius:0;border-bottom-right-radius:0;box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);border: solid 1px #666;border-bottom: none}
 .dropdown.open ul {box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.23);border: solid 1px #666;border-top: none;max-height: 200px;overflow-y: scroll}
 .dropdown-menu li {line-height:1.4;letter-spacing:0.7px;color:#333;font-size:14px;cursor:pointer;padding:7.5px 15px;border-top:0}
 .dropdown-menu li:hover{background-color:#ccc}

/* Footer */
footer .list-unstyled.small li{font-size:14px;letter-spacing:.1px;line-height:2.4}


/* Banner */
.banner{background-repeat:no-repeat;background-size:cover;background-position:center;height:520px;display: flex;}
.banner .card{float: left;padding: 1em 4em 1em 1em;background: rgba(59, 60, 149, .8);border-radius: 0;color: #fff;margin-top: auto;}


/* Left Boder */
.left-br{border-left:6px solid #3b3c95;padding:6px 0px 12px 20px}

/* Custom Pera  */
.custom-pera p{font-size:18px;line-height:1.9;color:#8e8c8b; font-family: "Futura LT W01 Light Oblique";}
.about-links_brand {font-size:18px;line-height:1.9;color:#8e8c8b; font-family: "Futura LT W01 Light Oblique"; display: flex;}
.about_card image {
  display: block;
  width: 100%;
  height: auto;
}

.about_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  z-index: 999;
}
.hover_image{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
}

.about_card:hover .about_overlay {
  opacity: 1;

}
.about_card:hover .hover_image {
display: inline;
  
}

.about_text {
  color: white;
  font-size: 15px;
  position: absolute;
top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -63%);
    width: 100%;
    margin: 11px 56px;
}

.about_text p {
  color: #fff;
  font-size: 13px;
}
.unsere-link a {
  font-size: 19px;
  text-decoration: none;
  color:  #8e8c8b;
  text-transform: capitalize;
}
.under_border {
  border-bottom: 1pt dotted #8e8c8b;
}

.contact_page{background-color: rgba(59, 60, 149, 1);
    border: solid rgba(50, 50, 50, 1) 0px;
    cursor: pointer !important;
    border-radius: 50px;
  }
    a.contact_page{color: #fff;padding:10px; }
    a.contact_page:hover{text-decoration: none; }
    .mandatory{ color:red; font-size:20px; font-weight: bold; }
    .vehcile_value{text-transform: uppercase;}
.bg-grey{ background-color: #ececec; }
.val_field{ display: none; }


.line-height-1 { line-height: 1.5 !important;}
@media only screen and (max-width: 750px) {
  a.card img {height: auto;}
}


.banner:before { content: ''; position: absolute; width: 100%; height: 100%; background: rgba(59, 60, 149,.2); top: 0; }
@media(max-width: 767px){

  .banner{height:300px;padding-bottom:20px!important}
  .banner .card{padding:1em 1em 1em 1em}
  .banner .card .card-body{padding:0!important}
  .banner .card h1{    font-size: 20px;
    margin-bottom: 0;
    line-height: 1.4;}

  body.about #main .container > .row {
        padding:0 15px !important
  }
  .fahrzeugdaten-heading{
    font-size: 20px
  }
  .fahrzeugdaten-span{
    font-size: 16px
  }
  .contact_heading{
    font-size: 25px;
  }
  .contact_heading{
    font-size: 25px;
    padding-top: 10px;
  }
  .custom-form-row{
    padding: 20px !important;
  }
  
}

@media (max-width: 767px) {
  #carouselExampleFade .container{position:relative}
  #carouselExampleFade .fx-slider-card{left:15px;background:none}
  #carouselExampleFade .fx-slider-card .card-body{padding:0;}
  #carouselExampleFade .fx-slider-card .card-body .card-title{background:rgba(59, 60, 149,.62);padding:15px 15px 4px 15px;margin-bottom:0!important;font-size:20px}
  #carouselExampleFade .fx-slider-card .card-body .card-text{background:rgba(59, 60, 149,.62);padding:15px;font-size:14px}
  .carousel-fade .carousel-item .btn-primary{margin-left:14px}
}

.text-primary {
    color: #3B3C95 !important;
}


input[type='submit'] {
    background-color: rgba(59, 60, 149, 1);
    border: solid rgba(50, 50, 50, 1) 0px;
    cursor: pointer !important;
    border-radius: 10px;
    color: #fff;
    padding: 10px 29px;
}

input[type='submit']:hover {
    background-color: rgba(0, 0, 0, 1);
    border: solid rgba(50, 50, 50, 1) 0px;
    cursor: pointer !important;
    border-radius: 50px;
    color: #fff;
    padding: 10px 29px;
}

.custom-btn{
  background-color: #3B3C95;
  border-color: #3B3C95;
}
.custom-btn:hover{
  background-color: #1a1cb3;
  border-color: #1a1cb3;
}

@media (max-width: 991px ){
   
   .mycardlink .card-img-top{
        max-height: 150px!important
   }   
   .list-custom{
     width:100%
   }
   .card-custom .list-custom .list-group-item{
         width: 100% !important
   }
   
}



@media (max-width: 400px ){
   
   .mycardlink .card-img-top{
        max-height: 120px!important
   }   

}

.gallery-top .slider-image{
	max-height: 422px;
    max-width: 535px;
}

 .card-custom .list-custom .list-group-item .card-title{
         text-transform: capitalize;
   }
   
   
   .home-imp-banner{background-image: url('../images/banner-1-home-min.jpg')}
.home-imp-banner .container > .row{min-height:500px}
.text-20{font-size:19px;line-height:2}
.text-18{font-size:18px;line-height:2}
.dash-bottom{margin-bottom:40px;position: relative}
.dash-bottom:after{content: ''; position: absolute; left: 0; right: 0; bottom: -21px; margin: auto; width: 50px; height: 4px; background-color: #3b3c95;}

.violet-blue-bg .dash-bottom:after{background-color: #fff}
.shape-top{position:relative;margin-top:60px}
.shape-top:before {position: absolute; content: ''; width: 0; height: 0; border-left: 70px solid transparent; border-right: 70px solid transparent; border-bottom: 90px solid #3b3c95; top: -60px; left: 0; right: 0; margin: auto;}

@media (max-width: 767px){
	.tab-heading{font-size: 28px;}
	.home-imp-banner {padding-bottom:10px!important;}
	.home-imp-banner .container > .row {min-height:300px}
}

@media (max-width: 500px){
	.home-imp-banner .container > .row {min-height:200px}
	.home-imp-banner .container > .row > .col {flex-basis:auto;text-align:center}
	.home-imp-banner .container > .row > .col .tab-heading{max-width: 280px;margin: auto;text-shadow: 0 0 3px #e8e8e8;}
}
